body{
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    width:100%;
font-size: 30px;
background-color: rgb(255, 0, 0);
color: antiquewhite;
font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-radius: 10px;
}